@use '../utils/variables' as vars;

.card {
  &__image {
    width: 100%;
    margin-bottom: 24px;
    transition: transform vars.$transition-duration;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    font-size: vars.$font-size-l;
    font-weight: vars.$font-bold;
    line-height: vars.$line-height-md;
    margin-bottom: 8px;
  }

  &__description {
    font-size: vars.$font-size-m;
    line-height: vars.$line-height-md;
    margin-bottom: 12px;
  }

  &__price {
    font-size: vars.$font-size-m;
    line-height: vars.$line-height-md;
    font-weight: vars.$font-bold;
  }
}
