@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;

.header {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: vars.$header-title-size;
    line-height: vars.$line-height-sm;
    font-weight: vars.$font-bold;

    @include mix.on-tablet {
      font-size: vars.$header-title-tablet;
    }

    @include mix.on-desktop {
      font-size: vars.$header-title-desktop;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include mix.on-tablet {
      padding-bottom: 65px;
    }

    @include mix.on-desktop {
      padding-bottom: 92px;
    }
  }
}
