@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;

.main {
  background-color: vars.$main-white-color;

  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 64px;

    @include mix.on-tablet {
      padding-block: 120px;
    }

    @include mix.on-desktop {
      padding-block: 128px;
    }
  }
}
