@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;

.recommended {
  &__cards {
    @include mix.page-grid;

    gap: 40px;
  }

  &__product {
    cursor: pointer;
    grid-column: 1 / -1;

    @include mix.on-tablet {
      grid-column: 2 / -2;
    }

    @include mix.on-desktop {
      grid-column: span 4;
    }
  }
}
