@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;

.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: vars.$font-bold;
  font-size: vars.$section-title-size;
  line-height: vars.$line-height-sm;

  @include mix.on-tablet {
    margin-bottom: 56px;
    font-size: vars.$section-title-tablet;
  }

  @include mix.on-desktop {
    font-size: vars.$section-title-desktop;
  }
}
