@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;

.top-bar {
  padding-block: 28px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mix.on-tablet {
    padding-block: 36px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    display: flex;
    height: vars.$logo-height;

    @include mix.hover(transform, scale(1.2));

    @include mix.on-tablet {
      height: vars.$logo-height-tablet;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
  }
}
