@use './utils/variables' as vars;
@use './utils/mixins' as mix;
@use './blocks/page';
@use './blocks/header';
@use './blocks/top-bar';
@use './blocks/icon';
@use './blocks/menu';
@use './blocks/nav';
@use './blocks/main';
@use './blocks/section-title';
@use './blocks/recommended';
@use './blocks/card';
@use './blocks/categories';
@use './blocks/full-width-image';
@use './blocks/about-us';
@use './blocks/contacts';

body,
p,
h1,
h2,
h3 {
  margin: 0;
  box-sizing: border-box;
  font-family: vars.$font-family;
}
