// COLORS
$main-dark-color: #292929;
$menu-bg-color: #ececec;
$main-white-color: #fff;
$field-bg-color: #f8f8fa;
$field-border-color: #d5d7de;
$secondary-text-color: #7e7e83;
$button-border-hover: #f0f1f4;
$button-border-active: #111;
$third-text-color: #191919;
$desc-text-color: #9393a3;

// TEXT
$font-family: 'Space Mono', monospace;
$header-title-size: 36px;
$header-title-tablet: 48px;
$header-title-desktop: 56px;
$section-title-size: 32px;
$section-title-tablet: 40px;
$section-title-desktop: 48px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 22px;
$font-size-xxl: 24px;
$font-regular: 400;
$font-bold: 700;
$line-height-sm: 100%;
$line-height-md: 140%;
$line-height-lg: 27px;
$letter-spacing: 2px;

// INDENTS
$logo-height: 16px;
$logo-height-tablet: 24px;
$icon-size: 24px;
$icon-size-tablet: 32px;
$border-radius-s: 4px;
$border-radius-m: 8px;

// RESOLUTIONS
$tablet-min-width: 566px;
$desktop-min-width: 1024px;

// TRANSITIONS
$transition-duration: 0.3s;
